@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 10px;
  font-family: "Chivo";
}

input {
  font-family: "Chivo";
}

button {
  font-family: "Chivo";
}

body {
  background-image: url(./assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121725;
  background-blend-mode: soft-light;
}

main {
  background-image: url(./assets/desktop/logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 6.2rem;

  padding: 17.5rem 2.4rem 9.4rem;
}

main .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.info h1 {
  color: #54e6af;
  text-align: center;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  text-transform: uppercase;
  width: 22ch;
}

.info h1 span {
  color: #fff;
}

.info p {
  color: #c2cbe5;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  width: 36ch;
}

.logosAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  margin-top: 3.3rem;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#spotify {
  width: 56px;
  height: 17px;
  margin-right: 23px;
}

#apple {
  width: 45px;
  height: 17px;
  margin-right: 25px;
}

#google {
  width: 73px;
  height: 11px;
  margin-right: 16px;
}

#pocket {
  width: 77px;
  height: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.email {
  border-radius: 28px;
  background: #2c344b;
  border: none;
  width: 32.7rem;
  height: 4.6rem;
  color: white;
  padding-left: 3.2rem;
}

.email::placeholder {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  opacity: 0.5;
}

.btn {
  border-radius: 28px;
  background: #54e6af;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.5);
  border: none;
  padding: 9px 110px;
  color: #121725;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/tablet/image-host.jpg),
      url(./assets/desktop/logo.svg), url(./assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #121725;
    background-blend-mode: normal;
    background-position: top right, 3.9rem 5rem, 3rem bottom;
    padding: 25.8rem 9.4rem 25.7rem 3.9rem;
  }

  main {
    width: 63.5rem;
    height: 50.9rem;
    padding: 9.3rem 0 0 0;

    background-color: #121725;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    background-image: none;
  }

  main .info {
    gap: 0;

    align-items: start;
  }

  .info h1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-align: left;
  }

  .info p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
    margin-top: 3.1rem;
    width: 40ch;
  }

  .logosAndButton {
    align-items: start;
    flex-direction: column-reverse;
    gap: 3.8rem;
    margin-top: 4rem;
  }

  .buttons {
    position: relative;
    gap: 0;
    align-items: start;
  }

  .email {
    border: none;
    width: 42.7rem;
    height: 5.6rem;
  }

  .btn {
    padding: 9px 27px;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  #spotify {
    width: 96px;
    height: 29px;
    margin-right: 40px;
  }

  #apple {
    width: 78px;
    height: 29px;
    margin-right: 41px;
  }

  #google {
    width: 125px;
    height: 18px;
    margin-right: 27px;
  }

  #pocket {
    width: 129px;
    height: 26px;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url(./assets/desktop/bg-pattern-dots.svg),
      url(./assets/desktop/image-host.jpg), url(./assets/desktop/logo.svg);
    background-position: right bottom 78px, top 13rem right, 16.5rem 10.2rem;
    padding: 26.1rem 55.2rem 13rem 16.5rem;
  }

  main {
    width: 72.3rem;
    height: 50.9rem;
    padding: 8.8rem 0 0 0;
  }

  .info h1 {
    font-size: 5.2rem;
    line-height: 6.2rem;
  }

  .info p {
    margin-top: 2.4rem;
  }

  .btn:hover {
    cursor: pointer;
    background: #b3ffe2;
  }
}
